<%- include('partials/head') %>

 <!-- navbar -->
 <nav class="nav">
  <ul class="menu">
    <% squads.forEach((squad) => { %>
      <% if (squad.name !== '2A' && squad.name !== '2B') { %>
        <li>
          <a href="/?squadId=<%= squad.id %>"> Squad <%= squad.name %></a>
        </li>
      <% } %>
    <% }) %>
  </ul>
</nav>

<!-- section -->
<section class="squad-page">
  <h1>Squadpage</h1>
</section>

<h2>Students</h2>
<div class="person-cards">
  <% persons.forEach(person => { %>

      <section class="person-item" >
        <!-- Toon de avatar van de member -->
      <% if (person.avatar) { %>
        <img src="<%= person.avatar %>" alt="Avatar <%= person.name %>" />
        <!-- Als de member geen avatar heeft -->
        <% }else{ %>
          <img src="https://icons.veryicon.com/png/o/miscellaneous/xdh-font-graphics-library/anonymous-user.png" alt="Unknown Avatar"/>
        <% } %>
      <p><%= person.name %></a>, squad_id <%= person.squad_id %></p>
       <a href="/detail/<%= person.id %>" class="button">Meer Info</a>
      </section>

  <% }) %>
</div>

<%- include('partials/foot') %>